.button {
  min-width: 150px;
  background-color: dodgerblue;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
}

.button:hover {
  background-color: darkblue;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button:not(:last-child) {
  margin-right: 15px;
}
